<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <section class="header-details flexrow">
            {{!-- {{> "systems/sr5e/templates/actors/parts/warnings.html"}} --}}

            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'SR5e.Name' }}" />
            </h1>

        </section>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        {{!--
        Personal Data includes:
        - Personal Data
        - IDs
        - Lifestyles
        - Currency
        - Qualities
        - Contacts
        - Attributes?
        --}}
        <a class="item" data-tab="personal-data">Personal Data</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="skills">Skills</a>
        {{!--
        Combat includes:
        - Core Combat Info
        - Condition Monitor
        - Martial Arts
        --}}
        <a class="item" data-tab="combat">Combat</a>
        {{!--
        Gear includes:
        - Ranged Weapons
        - Melee Weapons
        - Armor
        - Gear
        --}}
        <a class="item" data-tab="gear">Gear</a>
        <a class="item" data-tab="augmentations">Augmentations</a>
        {{!--
        Matrix includes:
        - Cyberdeck
        - Programs
        --}}
        <a class="item" data-tab="matrix">Matrix</a>
        {{!--
        Magic includes:
        - Spells
        - Preparations
        - Rituals
        - Complex Forms
        - Adept Powers
        - Other Abilities
        --}}
        <a class="item" data-tab="magic">Magic</a>
        {{!--
        Vehicles includes:
        - Vehicles
        - Drones
        --}}
        <a class="item" data-tab="vehicles">Vehicles</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Personal Data Tab --}}
        <div class="tab personal-data" data-group="primary" data-tab="personal-data">
            <div class="metatype flexrow">
                {{#each data.items }}
                {{#if (eq type 'metatype') }}
                Metatype: {{ name }}
                {{/if}}
                {{/each}}
            </div>>

        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{#each data.data.attributes }}
            {{@key}}: {{ base }} {{ current }}<br>
            {{/each}}
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
        </div>

        {{!-- Gear Tab --}}
        <div class="tab gear" data-group="primary" data-tab="gear">
        </div>

        {{!-- Augmentations Tab --}}
        <div class="tab augmentations" data-group="primary" data-tab="augmentations">
        </div>

        {{!-- Matrix Tab --}}
        <div class="tab matrix" data-group="primary" data-tab="matrix">
        </div>

        {{!-- Magic Tab --}}
        <div class="tab magic" data-group="primary" data-tab="magic">
        </div>

        {{!-- Vehicles Tab --}}
        <div class="tab vehicles" data-group="primary" data-tab="vehicles">
        </div>

    </section>
</form>