<form class="{{cssClass}} {{actor.type}} application flexcol" autocomplete="off">
    <section class="drop-zone flexrow">
        Drop xml file here to something something
    </section>
    <section class="flexrow">
        <ul>
            {{#each data}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
</form>