<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
        <div class="source">
            {{> 'systems/sr5e/dist/templates/source.html' data.data.sourceBook }}
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{#each data.data.attributes }}
        {{@key}}: {{ minimum }} {{ limit }} {{ augmentedLimit }}<br>
        {{/each}}

    </section>
</form>